/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
 
  max-width: 834px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid rgb(44, 183, 243);
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;

} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Space+Grotesk:wght@400;500;600;700&display=swap');


*{

  font-family: 'Open Sans', sans-serif;

}


.container {
    max-width: 80rem;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    
   
  }
  .container1 {
    max-width: 80rem;
    overflow: auto;
    min-height: 300px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
  }
  .head{
   background-color: #2c6c80;
   padding: 10px;
   
  }
  .head span{
    color: white;
  }

  .input {
    border: 2px solid transparent ;
    width: 20em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 6px;
    transition: all 0.5s;
    border: 1px solid rgb(218, 218, 218);

  }
  
  .input:hover,
  .input:focus {
    border: 1px solid #2c6c80;
    box-shadow: 0px 0px 0px 4px rgb(74, 157, 236, 20%);
    background-color: white;
  }
  .name{
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    margin: 20px;
  }
  .textarea {
    border: 2px solid transparent ;
    width: 55em;
    height: 4em;
    padding-left: 0.8em;
    padding-top: 0.8em;

    outline: none;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 6px;
    transition: all 0.5s;
    border: 1px solid rgb(218, 218, 218);

  }

  .textarea:hover,
  .textarea:focus {
    border: 1px solid #2c6c80;
    box-shadow: 0px 0px 0px 4px rgb(74, 157, 236, 20%);
    background-color: white;
  }

  .button {
   position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    /* background-color: #4A9DEC; */
    background-color: #2c6c80;

    left: 91%;
   margin-bottom: 2%;
 
  }


  
  
  .btn {
    color: #fff;
    border: 1px solid #d8d8d8;
    padding: 6px 17px;
    margin: 13px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    float: right;
    box-shadow: rgba(13, 102, 119, 0.1) 0px 4px 12px;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }

  .task {
    background: #ffffff;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
    margin-top: 1.5%;

  }
  
  .task.reminder {
    border-left: 5px solid rgb(44, 183, 243);
  }
  
  .task h3 {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .headImg{
    width: 25%;
  }
  .headDIV{
    display: flex;
    justify-content: center;
  }
  .p{
   text-align: right;
   color: rgb(148, 148, 148);
  }


  .search {
    border: 2px solid transparent ;
    width: 90.5%;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #ffffff;
    /* border-radius: 4% 0% 0% 4%; */
    transition: all 0.5s;
    border: 1px solid rgb(218, 218, 218);
    margin-top: 2%;

  }
  .h1{
    text-shadow: 1px 1px 0px white, 2px 2px 0px #f58686;
  color: darkslategray;
  /* font-family: 'Poppins', sans-serif;
  font-family: 'Space Grotesk', sans-serif; */  
    font-family: cursive;

  }
  .btn1 {
    background-color: #2c6c80;
    border: 1px solid #236175;
    padding: 8px 17px;
    margin-top: 2%;
    border-radius: 0% 10% 10% 0%;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    float: right;
    box-shadow: rgba(13, 102, 119, 0.1) 0px 4px 12px;
  }
  .btn2 {
    background-color: #2c6c80;
    border: 1px solid #236175;
    padding: 8px 17px;
    margin-top: 2%;
    /* border-radius: 10% 0% 0% 10%; */
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    float: right;
    box-shadow: rgba(13, 102, 119, 0.1) 0px 4px 12px;
  }

  .delete{
    position: absolute;
    top: 40%;
    right: 2%;
font-size: large;
    width: 35px;
    height: 35px;
    background-color: rgb(250, 79, 79);
    text-align: center;
    border-radius: 10px;   

  }

  .delete svg{
    padding-top: 9px;
    color: white;

  }
  .delete :hover{
    background-color: rgb(254, 64, 64);
 

  }

  .Show{
    text-align: center;
    margin-top: 3%;
  }